*{margin:0;padding:0}
a{outline:none;text-decoration:none}
img{outline:none;border:0 none}       
ol, ul {list-style: none;}
.wrapper{max-width: 1024px;margin:0 auto;}
.ques{margin: 30px; background: #fff;box-shadow: 0 0 8px rgba(165,161,161,0.3);border:1px solid #ddd;padding: 30px}
.ques p{font-size: 30px;color: #001c4f;font-weight: bold;margin: 10px 0}
p.ans{font-size: 20px}
.btn{font-size: 16px;color: #fff;background:#001c4f;display: block;width: 165px;margin:10px 0;text-align: center;font-weight: 500; height: 47px;line-height: 47px;border-radius: 5px;border:1px solid transparent;text-transform: uppercase;}
.btn:hover{color: #001c4f;background:#fff;border-color: #001c4f}
#age{padding: 0 10px;height: 50px;}